{% extends 'base.html' %}

{% block title %}About theyburied.us{% endblock %}


{% block content %}
  <h1>About theyburied.us</h1>
  <p style="font-size:20px">Our primary goal is to digitally preserve rural cemeteries in a way that includes images of each grave marker and an interactive map featuring a high resolution aerial photo of the cemetery site.  Our site also provides the ability to search and explore marker data such as names, birth and death dates.</p>
    <p style="font-size:20px">In addition to digital preservation we want to create a resource for cemeteries’ communities to explore their past.  We intend to connect the cemetery data we preserve to historic records such as <a href="{% url 'cemeteries:WWDC_view' %}">World War I draft cards</a> and other datasets. This site will also be a benefit to those doing genealogy or other types of research.</p>
{% endblock %}