{% extends 'base.html' %}


{% block title %} Markers {% endblock %}


{% block content %}
  <font size="5" font face="Comic Sans MS">
    <div class="row">
      <div class="col-md-8">
        {% if image %}
          <p><img src="{{ MEDIA_URL }}{{ image.image }}" width={{ image.width }} height={{ image.height }}></p>
          <br>
        {% else %}
          <p>No image exists for grave marker {{ marker.markerid }} at this time. </p>
        {% endif %}
      </div>
      <div class="col-md-4">
        <p><b>Family Name:</b> {{ marker.family_name|capfirst }}<br>
          <b>Marker Id:</b> {{ marker.markerid }}<br>
          <b>Marker Condition:</b> {{ marker.condition }}<br>
          <b>Marker Readability:</b> {{ marker.readable }}<br>
          <b>Marker Epitaph:</b> {{ marker.epitaph }}<br>
          <b>Marker Cemetery</b> : {{ marker.cemetery }}</p><br>
        {% for person in people %}
          <a href="/person/{{ person.pk }}">{{ person.full_name }}</a><br>
        {% endfor %}
      </div>
    </div>
  </font>
  <p align="center" style="font-size:25px"><a href="/person/">Return to Person Index</a></p>

{% endblock %}