{% extends 'base.html' %}


{% block title %}Person{% endblock %}
{% block content %}
  <font size="5" font face="Comic Sans MS">
    <div class="row">
      <div class="col-md-8">
        {% if image %}
          <p><img src="{{ MEDIA_URL }}{{ image.image }}" width={{ image.width }} height={{ image.height }}></p>
          <br>
        {% else %}
          <p>No image exists for {{ person.full_name }} at this time. </p>
        {% endif %}
      </div>
      <div class="col-md-4">
        <p><b>Cemetery:</b> {{ person.markerid.cemetery }}<br>
          <b>Name:</b> {{ person.full_name }}<br>
          <b>Marker Id:</b> {{ person.markerid.markerid }}<br>
          <b>Gender:</b> {{ person.gender }}<br>
          <b>Veteran:</b> {{ person.veteran }}<br>
          <b>Born:</b> {{ person.a_birth }}<br>
          <b>Died:</b> {{ person.a_death }}<br>
          <b>Epitaph:</b> {{ person.epitaph }}<br>
          <b>Footstone:</b> {{ person.footstone }}<br>
          <b>Footstone Epitaph:</b> {{ person.footstoneI }}<br></p>
  </font>
  </div>
  </div>
  <p align="center" style="font-size:25px"><a href="/person/">Return to Person Index</a></p>
{% endblock %}
