{% extends 'base.html' %}


{% block title %}Person{% endblock %}
{% block content %}
  <font size="7">{{ object.full_name }}</font>
  <font size="5" font face="Comic Sans MS">
    <p><b>Cemetery:</b> {{ object.markerid.cemetery }}<br>
    <b>Marker Id:</b> {{ object.markerid.markerid }}<br>
    <b>Gender:</b> {{ object.gender }}<br>
    <b>Veteran:</b> {{ object.veteran }}<br>
    <b>Birth Year:</b> {{ object.b_year }}<br>
    <b>Death Year:</b> {{ object.d_year }}<br>
    <b>Epitaph:</b> {{ object.epitaph }}<br>
    <b>Footstone:</b> {{ object.footstone }}<br>
    <b>Footstone Epitaph:</b> {{ object.footstoneI }}<br></p>
  <    <a href="/person/">Return to List of People</a>
  </font>
{% endblock %}
</body>
</html>