{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Draft Cards{% endblock %}


{% block content %}
  <font face="Comic Sans MS">
    <h1>World War I Draft Registration</h1><br>
  </font>
  <font size="5" font face="Comic Sans MS">
    <p>During World War I there were three registrations. The first, on June 5, 1917, was for all men between the ages
      of 21 and 31. The second, on June 5, 1918, registered those who attained age 21 after June 5, 1917. (A
      supplemental registration was held on August 24, 1918, for those becoming 21 years old after June 5, 1918. This
      was included in the second registration.) The third registration was held on September 12, 1918, for men age 18
      through 45.<br>
      <a href="{% url 'cemeteries:WWDC_map' %}">Click to View Those Eligible for World War I Draft Registration on Map</a></p><br>
    {% for registration in registrations %}
      {% if forloop.counter == 1 %}
        <h2>The following people were included in the first WWI registration on June 5, 1917 for men between the ages of
          18 and 21:</h2>
        {% elif forloop.counter == 2 %}
        <h2>The following people were included in the second WWI registration on June 5, 1918 for men between the ages
          of 18
          and 21:</h2>
        {% elif forloop.counter == 3 %}
        <h2>The following people were included in the supplemental registration on August 24,1918 for men who turned 21
          after June 5, 1918:</h2>
        {% elif forloop.counter == 4 %}
         <h2>The following people were included in the third WWI registration on September 12, 1918 for men who were
          between
          the ages of 18 and 45:</h2>
      {% endif %}
      {% if registration %}
        {% for person in registration|dictsort:"full_name" %}
          {% if person.wwdc.pdf %}
            <p><b>{{ person.full_name }}</b>
              <br> Born: {{ person.a_birth }}
              <br> Died: {{ person.a_death }}
              <br><a href="{{ MEDIA_URL }}{{ person.wwdc.pdf }}"><img src="{% static "cemeteries/pdf.ico" %}"
                                                                      height="24"
                                                                      width="24"> Go to Card</a></p>
          {% else %}
            <p><b>{{ person.full_name }}</b>
              <br> Born: {{ person.a_birth }}
              <br> Died: {{ person.a_death }}
              <br> No Card Available</p>
          {% endif %}
        {% endfor %}
      {% else %}
      <p>No registrants.</p>
      {% endif %}
    {% endfor %}
  </font>
{% endblock %}

